
<mat-card>
	<mat-card-title>Confirmar Exclusão</mat-card-title>
	<form>
		<mat-form-field>
			<input disabled type="text" matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
		</mat-form-field>
		<mat-form-field>
			<input disabled type="number" matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
		</mat-form-field>
	</form>

	<button mat-raised-button (click)="deleteProduct()" color="warn">
		Excluir
	</button>
	<button mat-raised-button (click)="cancel()">
		cancelar
	</button>
</mat-card>